name: Docker Image CI

on:
  push:
    branches: [ php72 ]
  pull_request:
    branches: [ php72 ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag nginx-php-fpm-72:$(date +%s)
